#walletConnexion {
    text-align: right;
    padding-top: 10px;
    /* padding-right: -30px !important; */
}

.tab-pane {
    padding-top: 10px;
}

.border-bottom {
    padding-top: 10px;
    padding-bottom: 20px;
}

.table button {
    background-color: black !important;
}

.table>:not(caption)>.input-group>* {
    padding: 1px 2px !important;
}